.transaction-container {
  display: flex;
  gap:2rem;
  padding: 0 2rem 2rem 0;
  height: 30rem;
  // for all div
  > div{
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.132);
    border-radius: 10px;
  }
  // specific div for class
  .gender-chart{
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    position: relative; // parent postion relative

   > h2 {
      text-align: center;
      margin: 1.5rem 0 2rem 0;
      @include heading;
    }
    // male female icon
    > p{
       @include positionCenter;  // child position absolute
       font-size: 2rem;
       color: rgba(0, 0, 0, 0.646);
    }
  }

  // table style
  .transaction-box{
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
    > h2{
      margin: 1.5rem 0 0 0;
      @include heading;
    }
  }

}