.graph-container{
    @include flex(row,unset,unset,2rem);
    padding: 0 2rem 2rem 0;
    > div {
      background-color: white;
      border-radius: 10px;
    }
    // left section
    .revenue-chart{
      width: 100%;
      padding: 1rem 3rem ;
  
      > h2 {
        @include heading;
        margin: 1rem 0 2rem 0.25rem;
        text-align: center;
      }
    }
    // right section
    .dashboard-categories{
      width: 100%;
      max-width: 16rem;
      @include flex(column, center , unset, 0);
      padding-bottom: 2rem;
      > h2 {
        @include heading;
        margin:1.5rem 0 2rem 0;
        text-align: center;
      }
      > div {
        overflow-y: auto;
        padding-left: 0.5rem;
      }
      // categoty progress bar
      .category-item{
        width: 100%;
        @include flex(row,space-between);
        padding: 1rem;
        > h2{
          letter-spacing:1px;
          font-weight: 300;
        }
        > .outer-bg-fill{
          margin-left: auto;
          width: 6rem;
          background-color: rgb(217, 217, 217); // default color set  when circle 0% percent 
          border-radius: 20px;
          height: 0.5rem;
          flex: none;
          .inner-bg-fill{
            height: 100%;
            border-radius: 20px;
          }
        }
       > span {
        font-size: 0.8rem;
        font-weight: 700;
       }
      }
       // categoty progress bar end
    }
  
  }